body {
  background-color: #fff5e1;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: center;
}

.header img {
  width: 150px;
  height: auto;
}

.header h1 {
  font-family: "Dancing Script", cursive;
  color: #d67f2e;
  font-weight: 300;
  margin-top: 83px;
  margin-left: -136px;
}


.cart {
  background-color: #fff5e1;
  width: 450px;
  height: 500px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 3px #876d56;
  border: 2px #9b9590 solid;
  border-radius: 5px;
  margin-top: -200px;
}


.cart_title {

  margin-left: 10px;
}

.cart_image {
  height: 80px;
  width: 80px;
  border-radius: 6px 6px 6px 6px;

}

.itemRows {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.product_quantity {
  background-color: #fff5e1;
  width: 35px;
  height: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.total_cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.purchase_btn {
  width: 120px;
  height: 50px;
  background-color: #D8883E;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;

}

.remove_btn {

  background-color: #D8883E;
  width: 70px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;

}

.container {

  height: 500px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;

}

.items {

  background-color: #fbf3e3;
  width: 300px;
  height: 380px;
  border: 1px #9b9590 solid;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 5px 2px #876d56;


}

.item_img {
  height: 300px;
  width: 300px;
  border-radius: 4px 4px 0 0;
}

.add_to_cart {

  cursor: pointer;
  border-radius: 20px;
  background-color: #d67f2e;
  float: right;
  border: none;
  font-weight: bold;
  width: 80px;
  height: 50px;
  margin-right: 5px;
}

.item_price {

  margin-top: 20px;
  margin-left: 20px;
}

.add_to_cart:active {
  transform: translateY(8px);

}

.add_to_cart:hover {
  background-color: #e6dddb;
}

.remove_btn:active {
  transform: translateY(8px);
}

.remove_btn:hover {
  background-color: #e6dddb;
}

.purchase_btn:active {
  transform: translateY(8px);
}

.purchase_btn:hover {
  background-color: #e6dddb;
}